<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="ippanel" label="COM_OTPLOGIN_FS_SMS" description="COM_OTPLOGIN_FS_SMS_DESC">
        <field name="sms_provider" type="list" label="COM_OTPLOGIN_SMS_PROVIDER" description="COM_OTPLOGIN_SMS_PROVIDER_DESC" default="ippanel">
            <option value="ippanel">COM_OTPLOGIN_PROVIDER_IPPANEL</option>
            <option value="twilio">COM_OTPLOGIN_PROVIDER_TWILIO</option>
        </field>
        <field name="note_ippanel" type="note" label="COM_OTPLOGIN_NOTE_IPPANEL" description="COM_OTPLOGIN_NOTE_IPPANEL_DESC" showon="sms_provider:ippanel" />

        <field name="api_key" type="password" label="COM_OTPLOGIN_API_KEY" description="COM_OTPLOGIN_API_KEY_DESC" autocomplete="off" class="w-100" showon="sms_provider:ippanel" />
        <field name="base_url" type="text" label="COM_OTPLOGIN_BASE_URL" description="COM_OTPLOGIN_BASE_URL_DESC" default="https://edge.ippanel.com/v1" class="w-100" dir="ltr" showon="sms_provider:ippanel" />
        <field name="from_number" type="text" label="COM_OTPLOGIN_FROM_NUMBER" description="COM_OTPLOGIN_FROM_NUMBER_DESC" hint="+983000505" dir="ltr" showon="sms_provider:ippanel" />
        <field name="pattern_code" type="text" label="COM_OTPLOGIN_PATTERN_CODE" description="COM_OTPLOGIN_PATTERN_CODE_DESC" dir="ltr" showon="sms_provider:ippanel" />
        <field name="pattern_var" type="text" label="COM_OTPLOGIN_PATTERN_VAR" description="COM_OTPLOGIN_PATTERN_VAR_DESC" default="code" dir="ltr" showon="sms_provider:ippanel" />
        <field name="note_twilio" type="note" label="COM_OTPLOGIN_NOTE_TWILIO" description="COM_OTPLOGIN_NOTE_TWILIO_DESC" showon="sms_provider:twilio" />
        <field name="twilio_sid" type="text" label="COM_OTPLOGIN_TWILIO_SID" description="COM_OTPLOGIN_TWILIO_SID_DESC" class="w-100" dir="ltr" showon="sms_provider:twilio" />
        <field name="twilio_token" type="password" label="COM_OTPLOGIN_TWILIO_TOKEN" description="COM_OTPLOGIN_TWILIO_TOKEN_DESC" autocomplete="off" class="w-100" showon="sms_provider:twilio" />
        <field name="twilio_from" type="text" label="COM_OTPLOGIN_TWILIO_FROM" description="COM_OTPLOGIN_TWILIO_FROM_DESC" hint="+1234567890" dir="ltr" showon="sms_provider:twilio" />
        <field name="twilio_body" type="textarea" label="COM_OTPLOGIN_TWILIO_BODY" description="COM_OTPLOGIN_TWILIO_BODY_DESC" rows="3" default="Your verification code is: {code}" class="w-100" showon="sms_provider:twilio" />
        <field name="request_timeout" type="number" label="COM_OTPLOGIN_TIMEOUT" description="COM_OTPLOGIN_TIMEOUT_DESC" default="10" min="3" max="30" filter="integer" />
        <field name="dry_run" type="radio" label="COM_OTPLOGIN_DRY_RUN" description="COM_OTPLOGIN_DRY_RUN_DESC" layout="joomla.form.field.radio.switcher" default="0" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset name="otp" label="COM_OTPLOGIN_FS_OTP" addfieldprefix="Otplogin\Component\Otplogin\Administrator\Field">
        <field name="reset_otp_defaults" type="defaultreset" section="otp" label="" />
        <field name="code_length" type="number" label="COM_OTPLOGIN_CODE_LENGTH" description="COM_OTPLOGIN_CODE_LENGTH_DESC" default="6" min="4" max="8" filter="integer" />
        <field name="code_ttl" type="number" label="COM_OTPLOGIN_CODE_TTL" description="COM_OTPLOGIN_CODE_TTL_DESC" default="120" min="30" max="900" filter="integer" />
        <field name="max_verify_attempts" type="number" label="COM_OTPLOGIN_MAX_ATTEMPTS" description="COM_OTPLOGIN_MAX_ATTEMPTS_DESC" default="5" min="1" max="10" filter="integer" />
    </fieldset>

    <fieldset name="limits" label="COM_OTPLOGIN_FS_LIMITS" description="COM_OTPLOGIN_FS_LIMITS_DESC" addfieldprefix="Otplogin\Component\Otplogin\Administrator\Field">
        <field name="reset_limits_defaults" type="defaultreset" section="limits" label="" />
        <field name="resend_cooldown" type="number" label="COM_OTPLOGIN_COOLDOWN" description="COM_OTPLOGIN_COOLDOWN_DESC" default="120" min="0" max="3600" filter="integer" />
        <field name="phone_window_minutes" type="number" label="COM_OTPLOGIN_PHONE_WINDOW" description="COM_OTPLOGIN_PHONE_WINDOW_DESC" default="10" min="1" max="1440" filter="integer" />
        <field name="phone_window_max" type="number" label="COM_OTPLOGIN_PHONE_WINDOW_MAX" description="COM_OTPLOGIN_ZERO_UNLIMITED" default="3" min="0" max="100" filter="integer" />
        <field name="phone_daily_max" type="number" label="COM_OTPLOGIN_PHONE_DAILY_MAX" description="COM_OTPLOGIN_ZERO_UNLIMITED" default="10" min="0" max="1000" filter="integer" />
        <field name="ip_hourly_max" type="number" label="COM_OTPLOGIN_IP_HOURLY_MAX" description="COM_OTPLOGIN_ZERO_UNLIMITED" default="15" min="0" max="1000" filter="integer" />
        <field name="ip_daily_max" type="number" label="COM_OTPLOGIN_IP_DAILY_MAX" description="COM_OTPLOGIN_ZERO_UNLIMITED" default="40" min="0" max="10000" filter="integer" />
        <field name="session_hourly_max" type="number" label="COM_OTPLOGIN_SESSION_HOURLY_MAX" description="COM_OTPLOGIN_SESSION_HOURLY_MAX_DESC" default="5" min="0" max="100" filter="integer" />
        <field name="pow_enabled" type="radio" label="COM_OTPLOGIN_POW" description="COM_OTPLOGIN_POW_DESC" layout="joomla.form.field.radio.switcher" default="1" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="pow_difficulty" type="number" label="COM_OTPLOGIN_POW_DIFF" description="COM_OTPLOGIN_POW_DIFF_DESC" default="16" min="12" max="22" filter="integer" />
        <field name="lookup_hourly_max" type="number" label="COM_OTPLOGIN_LOOKUP_HOURLY_MAX" description="COM_OTPLOGIN_LOOKUP_HOURLY_MAX_DESC" default="30" min="0" max="1000" filter="integer" />
        <field name="global_daily_max" type="number" label="COM_OTPLOGIN_GLOBAL_DAILY_MAX" description="COM_OTPLOGIN_GLOBAL_DAILY_MAX_DESC" default="500" min="0" max="1000000" filter="integer" />
        <field name="phone_fail_max" type="number" label="COM_OTPLOGIN_PHONE_FAIL_MAX" description="COM_OTPLOGIN_PHONE_FAIL_MAX_DESC" default="8" min="0" max="100" filter="integer" />
        <field name="ip_fail_max" type="number" label="COM_OTPLOGIN_IP_FAIL_MAX" description="COM_OTPLOGIN_IP_FAIL_MAX_DESC" default="20" min="0" max="1000" filter="integer" />
        <field name="block_minutes" type="number" label="COM_OTPLOGIN_BLOCK_MINUTES" default="30" min="1" max="10080" filter="integer" />
        <field name="ip_register_max" type="number" label="COM_OTPLOGIN_IP_REGISTER_MAX" description="COM_OTPLOGIN_ZERO_UNLIMITED" default="5" min="0" max="1000" filter="integer" />
        <field name="min_form_seconds" type="number" label="COM_OTPLOGIN_MIN_FORM_SECONDS" description="COM_OTPLOGIN_MIN_FORM_SECONDS_DESC" default="0" min="0" max="30" filter="integer" />
        <field name="ip_header" type="text" label="COM_OTPLOGIN_IP_HEADER" description="COM_OTPLOGIN_IP_HEADER_DESC" default="HTTP_X_FORWARDED_FOR" hint="HTTP_X_FORWARDED_FOR" dir="ltr" />
    </fieldset>

    <fieldset name="users" label="COM_OTPLOGIN_FS_USERS" description="COM_OTPLOGIN_FS_USERS_DESC" addfieldprefix="Otplogin\Component\Otplogin\Administrator\Field">
        <field name="reset_users_defaults" type="defaultreset" section="users" label="" />
        <field name="registration_enabled" type="radio" label="COM_OTPLOGIN_REGISTRATION" description="COM_OTPLOGIN_REGISTRATION_DESC" layout="joomla.form.field.radio.switcher" default="1" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="new_user_group" type="usergrouplist" label="COM_OTPLOGIN_NEW_USER_GROUP" default="2" />
        <field name="ask_name" type="list" label="COM_OTPLOGIN_ASK_NAME" default="required">
            <option value="required">COM_OTPLOGIN_OPT_REQUIRED</option>
            <option value="optional">COM_OTPLOGIN_OPT_OPTIONAL</option>
            <option value="off">COM_OTPLOGIN_OPT_OFF</option>
        </field>
        <field name="ask_email" type="list" label="COM_OTPLOGIN_ASK_EMAIL" default="optional">
            <option value="required">COM_OTPLOGIN_OPT_REQUIRED</option>
            <option value="optional">COM_OTPLOGIN_OPT_OPTIONAL</option>
            <option value="off">COM_OTPLOGIN_OPT_OFF</option>
        </field>
        <field name="fake_email_domain" type="text" label="COM_OTPLOGIN_FAKE_EMAIL" description="COM_OTPLOGIN_FAKE_EMAIL_DESC" dir="ltr" />
        <field name="link_enabled" type="radio" label="COM_OTPLOGIN_LINK" description="COM_OTPLOGIN_LINK_DESC" layout="joomla.form.field.radio.switcher" default="1" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="block_superusers" type="radio" label="COM_OTPLOGIN_BLOCK_SUPER" description="COM_OTPLOGIN_BLOCK_SUPER_DESC" layout="joomla.form.field.radio.switcher" default="1" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="hikashop_lookup" type="radio" label="COM_OTPLOGIN_HIKASHOP" description="COM_OTPLOGIN_HIKASHOP_DESC" layout="joomla.form.field.radio.switcher" default="1" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="hikashop_phone_columns" type="text" label="COM_OTPLOGIN_HIKASHOP_COLS" description="COM_OTPLOGIN_HIKASHOP_COLS_DESC" default="address_telephone,address_telephone2,address_mobile,address_fax" class="w-100" dir="ltr" />
        <field name="hikashop_fuzzy_match" type="radio" label="COM_OTPLOGIN_HIKASHOP_FUZZY" description="COM_OTPLOGIN_HIKASHOP_FUZZY_DESC" layout="joomla.form.field.radio.switcher" default="1" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="lookup_username" type="radio" label="COM_OTPLOGIN_LOOKUP_USERNAME" description="COM_OTPLOGIN_LOOKUP_USERNAME_DESC" layout="joomla.form.field.radio.switcher" default="1" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="profile_key" type="text" label="COM_OTPLOGIN_PROFILE_KEY" description="COM_OTPLOGIN_PROFILE_KEY_DESC" default="otplogin.phone" dir="ltr" />
        <field name="lookup_field_id" type="number" label="COM_OTPLOGIN_LOOKUP_FIELD" description="COM_OTPLOGIN_LOOKUP_FIELD_DESC" default="0" min="0" filter="integer" />
        <field name="redirect_url" type="text" label="COM_OTPLOGIN_REDIRECT" description="COM_OTPLOGIN_REDIRECT_DESC" class="w-100" dir="ltr" />
    </fieldset>

    <fieldset name="password" label="COM_OTPLOGIN_FS_PASSWORD" description="COM_OTPLOGIN_FS_PASSWORD_DESC" addfieldprefix="Otplogin\Component\Otplogin\Administrator\Field">
        <field name="reset_password_defaults" type="defaultreset" section="password" label="" />
        <field name="password_login" type="radio" label="COM_OTPLOGIN_PASSWORD_LOGIN" description="COM_OTPLOGIN_PASSWORD_LOGIN_DESC" layout="joomla.form.field.radio.switcher" default="1" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="password_set" type="list" label="COM_OTPLOGIN_PASSWORD_SET" description="COM_OTPLOGIN_PASSWORD_SET_DESC" default="optional">
            <option value="required">COM_OTPLOGIN_PWSET_REQUIRED</option>
            <option value="optional">COM_OTPLOGIN_PWSET_OPTIONAL</option>
            <option value="off">COM_OTPLOGIN_PWSET_OFF</option>
        </field>
        <field name="password_hibp" type="radio" label="COM_OTPLOGIN_PASSWORD_HIBP" description="COM_OTPLOGIN_PASSWORD_HIBP_DESC" layout="joomla.form.field.radio.switcher" default="0" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="password_min_length" type="number" label="COM_OTPLOGIN_PASSWORD_MIN" default="8" min="6" max="64" filter="integer" />
        <field name="password_fail_max" type="number" label="COM_OTPLOGIN_PASSWORD_FAIL_MAX" description="COM_OTPLOGIN_PASSWORD_FAIL_MAX_DESC" default="5" min="0" max="100" filter="integer" />
        <field name="password_ip_fail_max" type="number" label="COM_OTPLOGIN_PASSWORD_IP_FAIL_MAX" description="COM_OTPLOGIN_ZERO_UNLIMITED" default="15" min="0" max="1000" filter="integer" />
        <field name="lookup_hourly_max" type="number" label="COM_OTPLOGIN_LOOKUP_MAX" description="COM_OTPLOGIN_LOOKUP_MAX_DESC" default="30" min="0" max="10000" filter="integer" />
    </fieldset>


    <fieldset name="features" label="COM_OTPLOGIN_FS_FEATURES" description="COM_OTPLOGIN_FS_FEATURES_DESC">
        <field name="avatar_joomla_field_id" type="number" label="COM_OTPLOGIN_AVATAR_JOOMLA_FIELD" description="COM_OTPLOGIN_AVATAR_JOOMLA_FIELD_DESC" default="0" min="0" filter="integer" />
        <field name="avatar_enabled" type="radio" label="COM_OTPLOGIN_AVATAR" description="COM_OTPLOGIN_AVATAR_DESC" layout="joomla.form.field.radio.switcher" default="1" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="qr_login_enabled" type="radio" label="COM_OTPLOGIN_QR" description="COM_OTPLOGIN_QR_DESC" layout="joomla.form.field.radio.switcher" default="1" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="qr_ttl" type="number" label="COM_OTPLOGIN_QR_TTL" description="COM_OTPLOGIN_QR_TTL_DESC" default="90" min="30" max="300" filter="integer" />
        <field name="qr_bind_ip" type="radio" label="COM_OTPLOGIN_QR_BIND_IP" description="COM_OTPLOGIN_QR_BIND_IP_DESC" layout="joomla.form.field.radio.switcher" default="1" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="passkey_enabled" type="radio" label="COM_OTPLOGIN_PASSKEY" description="COM_OTPLOGIN_PASSKEY_DESC" layout="joomla.form.field.radio.switcher" default="1" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="passkey_rp_id" type="text" label="COM_OTPLOGIN_PASSKEY_RP_ID" description="COM_OTPLOGIN_PASSKEY_RP_ID_DESC" dir="ltr" hint="example.com" />
        <field name="passkey_rp_name" type="text" label="COM_OTPLOGIN_PASSKEY_RP_NAME" description="COM_OTPLOGIN_PASSKEY_RP_NAME_DESC" />
    </fieldset>

    <fieldset name="telegram" label="COM_OTPLOGIN_FS_TELEGRAM" description="COM_OTPLOGIN_FS_TELEGRAM_DESC" addfieldprefix="Otplogin\Component\Otplogin\Administrator\Field">
        <field name="reset_telegram_defaults" type="defaultreset" section="telegram" label="" />
        <field name="telegram_enabled" type="radio" label="COM_OTPLOGIN_TG_ENABLED" description="COM_OTPLOGIN_TG_ENABLED_DESC" layout="joomla.form.field.radio.switcher" default="0" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="telegram_bot_token" type="password" label="COM_OTPLOGIN_TG_TOKEN" description="COM_OTPLOGIN_TG_TOKEN_DESC" autocomplete="off" class="w-100" dir="ltr" />
        <field name="telegram_chat_id" type="text" label="COM_OTPLOGIN_TG_CHAT" description="COM_OTPLOGIN_TG_CHAT_DESC" dir="ltr" hint="91743383" />
        <field name="telegram_proxy" type="text" label="COM_OTPLOGIN_TG_PROXY" description="COM_OTPLOGIN_TG_PROXY_DESC" class="w-100" dir="ltr" hint="socks5://127.0.0.1:1080" />
        <field name="telegram_timeout" type="number" label="COM_OTPLOGIN_TG_TIMEOUT" description="COM_OTPLOGIN_TG_TIMEOUT_DESC" default="15" min="5" max="60" filter="integer" />
        <field name="telegram_on_sms_error" type="radio" label="COM_OTPLOGIN_TG_ON_SMS_ERROR" layout="joomla.form.field.radio.switcher" default="1" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="telegram_on_login" type="radio" label="COM_OTPLOGIN_TG_ON_LOGIN" layout="joomla.form.field.radio.switcher" default="0" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="telegram_on_register" type="radio" label="COM_OTPLOGIN_TG_ON_REGISTER" layout="joomla.form.field.radio.switcher" default="1" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="telegram_on_verify_fail" type="radio" label="COM_OTPLOGIN_TG_ON_VERIFY_FAIL" layout="joomla.form.field.radio.switcher" default="0" filter="integer">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" filter="rules" validate="rules" component="com_otplogin" section="component" />
    </fieldset>
</config>
